<main>
  <h1>Create Account</h1>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div id="selector">
      <div
        id="ownerselector"
        (click)="switchToUser()"
        [ngClass]="isContractor ? 'inactive' : 'active'"
      >
        Owner
      </div>
      <div
        id="contractorselector"
        (click)="switchToContractor()"
        [ngClass]="isContractor ? 'active' : 'inactive'"
      >
        Contractor
      </div>
    </div>

    <!-- USER BLOCK -->
    <div *ngIf="!isContractor">
      <input
        type="text"
        id="firstname"
        placeholder="First Name"
        formControlName="firstname"
      />
      <input
        type="text"
        id="lastname"
        placeholder="Last Name"
        formControlName="lastname"
      />
      <input
        type="text"
        id="username"
        placeholder="Username"
        formControlName="username"
      />
      <input
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
      <input type="password" id="cPass" placeholder="Retype Password" />
      <input
        type="email"
        id="email"
        placeholder="Email"
        formControlName="email"
      />
    </div>

    <!-- CONTRACTOR BLOCK -->
    <div *ngIf="isContractor">
      <input
        type="text"
        id="contractor_companyname"
        placeholder="Company Name"
        formControlName="contractor_companyname"
      />
      <input
        type="text"
        id="contractor_firstname"
        placeholder="First Name"
        formControlName="contractor_firstname"
      />
      <!--Removed : from the lines below to make it cleaner - Steve Woods-->
      <input
        type="text"
        id="contractor_lastname"
        placeholder="Last Name"
        formControlName="contractor_lastname"
      />
      <input
        type="text"
        id="contractor_username"
        placeholder="Username"
        formControlName="contractor_username"
      />
      <input
        type="password"
        id="contractor_password"
        placeholder="Password"
        formControlName="contractor_password"
      />
      <input
        type="password"
        id="contractor_cPass"
        placeholder="Retype Password"
      />
      <input
        type="email"
        id="contractor_email"
        placeholder="Email"
        formControlName="contractor_email"
      />
    </div>

    <input type="submit" value="Submit" />
  </form>
</main>
<!--Refactored HTML to closely resemble login form: Alex Loostrom-->
