<main>
  <form *ngIf="isLoggedIn" [formGroup]="replyForm" (ngSubmit)="onSubmit()">
    <div class="reply-post" [class.hidden]="!isActive">
      <textarea
        name="reply"
        id="reply"
        placeholder="Type reply here!"
        (input)="adjustHt(textarea)"
        #textarea
        formControlName="reply"
        placeholder="What are you thinking about?"
      ></textarea>
    </div>
    <div id="btn-grp">
      <input
        class="btn"
        [class.hidden]="!isActive"
        (click)="activate()"
        type="button"
        value="cancel"
      />
      <input
        class="btn"
        [class.hidden]="!isActive"
        type="submit"
        value="submit"
      />
      <div id="reply-btn" [class.hidden]="isActive" (click)="activate()">
        reply
      </div>
    </div>
  </form>
</main>
