.container {
  width: 900px;
  height: 200px;
  margin: 20px;
  border: 1px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: papayawhip;
  height: 15%;
  width: 100%;
}

.header div {
  margin-left: 20px;
}

.body {
  height: 85%;
}

#message {
  margin: 20px;
}

#post-details {
  display: flex;
  justify-content: space-between;
}

.menu {
  margin-right: 5px;
}
