<div class="container">
  <main>
    <!--put inside of main tag for purpose of CSS - Steve Woods-->
    <div class="search">
      <h2>Search</h2>

      <div class="searchbox-container">
        <form>
          <div class="searchbox">
            <input type="text" #query />
            <div id="go-btn" (click)="search(query.value)">GO</div>
          </div>
          <div class="radio-grp">
            <div>
              <input type="radio" name="category" id="author" checked />
              <label for="author">Author</label>
            </div>
            <div>
              <input type="radio" name="category" id="post" />
              <label for="post">Post</label>
            </div>
          </div>
        </form>
      </div>

      <div id="posts"></div>
    </div>
  </main>
</div>
