.loginForm {
    width: 100vmax;
    height: 100%;
    text-align: center;
    padding: 5rem 0px;
    font-size: 1.8rem;
    color: black;
}
.loginForm a {
    text-decoration: underline;
    color: #FFCC00;
}
form {
    width: 20%;
    border: .2rem #FFCC00 solid;
    border-radius: .4rem;
    margin: .5rem auto;
    padding: 1rem;
    padding-bottom: 1rem;
    align-content: center;
}
form input{
    display: block;
    margin: .3rem auto;
    border: .1rem #FFCC00 solid;
    border-radius: .3rem;
    font-size: 1.2rem;
    color: black;
}
::placeholder {
    color: black;
}
/*added/used a div login-button to space the login button from bottom of input - Steve Woods*/
.login-button{
    margin-top: 1rem;
}
main {
    padding: 10px; /* used to format main tag on screen */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex; /* next two lines to center content */
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(#e2e2e2, dodgerblue);
    border: black solid .12rem;
  }
