.container {
  width: 100%;
  min-height: 200px;
  border: 1px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: papayawhip;
  height: 30px;
  width: 100%;
}

.header div {
  margin-left: 20px;
}

.body {
  height: 85%;
  padding: 10px 10px;
}

#message {
  min-height: 50px;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.borderbottom {
  border-bottom: 1px solid grey;
}

#post-details {
  display: flex;
  justify-content: space-between;
}

.menu {
  margin-right: 5px;
}
